*.iml
.gradle
/local.properties
/.idea
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/debug
/app/release
/app/prodPlayStore
/app/prodGitHub
/app/prodCafeBazaar
/app/prodMyket
/app/devPlayStore
/app/devGitHub
/app/devCafeBazaar
/app/devMyket
/app/obfuscation
google-services.json
.safedk